/* General Styles */
@font-face {
    src: url("../../assets/fonts/Vazir.ttf");
    font-family: Vazir;
}

*{
    font-family: Vazir, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    --light-blue-color: 209, 237, 255;
}

body{
    direction: rtl;
    background-image: url("../../assets/img/background.png");
    background-size: 200px;
    overflow: auto;
}

.container-fluid{
    padding: 0!important;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(var(--light-blue-color), 0.3) 10%, rgba(var(--light-blue-color), 0.5) 30%, rgba(var(--light-blue-color), 0.7) 50%, rgba(var(--light-blue-color), 0.9) 60%, rgba(var(--light-blue-color), 1));
}

.logo img{
    height: 110px;
}

main{
    width: 35%;
}

.label{
    padding-right: 10px;
    max-width: 50%;
    text-align: right;
}

.value{
    max-width: 50%;
    text-align: left;
}

.label::before{
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 35%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: darkgreen;
}

@media print {
    .buttons{
        display: none !important;
    }
}
@media (max-width: 1200px) {
    main{
        width: 50%;
    }
}
@media (max-width: 992px) {
    main{
        width: 60%;
    }
}
@media (max-width: 768px) {
    main{
        width: 75%;
    }
}
@media (max-width: 576px) {
    *{font-weight: normal}
    main{
        width: 90%;
    }
}
